@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Roboto");

body {
  color: #000;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  
  text-align: center;
  margin: 0;
}

.ak {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
    display: inline-block;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    margin: 0;
    margin-right: 20px;
    padding: 10px 23px 10px 0;
    font-size: 36px;
    font-weight: 500;
  }

.desc {
  display: inline-block;
  text-align: left;
  line-height: 49px;
  height: 49px;
  vertical-align: center;
}


h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
  animation: appear 2s;
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}